* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body,
html {
  height: 100%;
}

.for_page {
  position: relative;
  min-height: 100%;
}

.page {
  padding-bottom: 100px;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #00506d;
  height: 100px;
  width: 100%;
}

.container {
  width: 1170px;
  margin: 0 auto;
}
h2 {
  text-align: center;
}
ul {
  font-size: 24px;
  font-weight: 500;
  list-style-type: circle;
}
ul li {
  padding: 15px;
}

.first {
  text-shadow: 10px 18px #ccc;
}

.second {
  text-shadow: 10px 18px 3px #464141;
}

.third {
  text-shadow: 10px 18px rgb(179 15 15), 9px -11px rgb(0 130 216),
    1px 1px rgb(182 5 226);
}

.fourth {
  background: #734949;
  color: #d1d1d1;
  text-shadow: 1px 1px white, -1px -1px #333;
}

.fifth {
  color: #d1d1d1;
  text-shadow: -1px -1px white, 1px 1px #333;
}

.sixth {
  background: #ccf;
  color: #bbe;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

/* Slide2 */
.box {
  width: 300px;
  height: 300px;
  border: 1px solid rgb(10, 10, 10);
  margin-bottom: 50px;
  background-color: #daffff;
}

.box-shadow-first {
  box-shadow: 15px 15px #734949;
}

.box-shadow-second {
  box-shadow: 15px 15px 5px #734949;
}
/* Slide3 */
.box-shadow-third {
  box-shadow: inset 5px 5px 5px rgb(141, 0, 19),
    inset -5px -5px 5px rgb(43, 0, 145);
}

/* Slide4 */
.gradient__first {
  background: linear-gradient(
    to right,
    red 15%,
    blue 35%,
    rgb(250, 248, 248) 80%,
    red 100%
  );
  border: 1px solid black;
  margin-bottom: 20px;
  height: 200px;
  width: 400px;
}

.gradient__second {
  background: linear-gradient(
    to bottom,
    red 30%,
    rgb(255, 255, 255) 30%,
    rgb(250, 248, 248) 70%,
    red 70%,
    red 100%
  );

  border: 1px solid black;
  margin-bottom: 20px;
  height: 200px;
  width: 800px;
}
