* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  background-color: rgb(18, 174, 166);
}

ul {
  list-style: none;
}

ul li {
  display: inline-block;
  color: #fff;
  background-color: blueviolet;
  text-align: 24px;
  padding: 20px;
  margin: 15px;
  margin-left: 15px;
  margin-right: 20px;
}
ul li:hover {
  cursor: pointer;
}

section {
  background-color: burlywood;
  margin-top: 40px;
  width: 50%;
}

section button {
  float: left;
  color: #fff;
  background-color: rgb(238, 167, 74);
  border: 1px solid rgb(89, 51, 1);
  padding: 10px 20px;
  margin: 5%;
  width: 40%;
}

.right {
  float: right;
}
.clear {
  clear: both;
}
