* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  width: 1170px;
  margin: 0 auto;
}

.background {
  background: url("../img/background_2.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  padding-bottom: 56%;
}
/* Main menu */
ul.menu {
  display: flex;
  position: relative;
  justify-content: center;
  list-style-type: none;
}
ul.menu li {
  text-align: center;
  padding-top: 5px;
  background: linear-gradient(45deg, #fff1eb, #ace0f9);
}
ul.menu li.menu__item {
  width: calc(1170px - 250px);
  display: block;
  border: 1px solid darkgrey;
}
ul.menu li a {
  margin-top: 5px;
  display: block;
  font-family: "barlow_condensedblack_italic";
}
ul.menu li + li a {
  font-family: "barlow_condensedbold";
}

ul.menu li + li + li a {
  font-family: "barlow_condensedXLtIt";
}

ul.menu li + li + li + li a {
  font-family: "barlow_condensedextrabold";
}

ul.menu li + li + li + li a {
  font-family: "barlow_condensedXBdIt";
}

ul.menu li + li + li + li + li a {
  font-family: "barlow_condensedextralight";
}
ul.menu li.menu__item a.active {
  color: green;
}
/* Sub-menu */
ul.menu ul.menu__sub {
  position: absolute;
  overflow: hidden;
  transition: all 0.3s ease;
  max-height: 0;
  top: 40px;
}

ul.menu ul.menu__sub li a {
  font-family: "barlow_condenseditalic";
}

ul.menu ul.menu__sub li + li a {
  font-family: "barlow_condensedlight";
}

ul.menu ul.menu__sub li + li + li a {
  font-family: "barlow_condensedlight_italic";
}

ul.menu ul.menu__sub li + li + li + li a {
  font-family: "barlow_condensedmedium";
}

ul.menu li + li + li:hover ul.menu__sub {
  max-height: 300px;
}

ul.menu li.menu__item ul.menu__sub li {
  padding: 5px;
  width: 234px;
  border: 1px solid lightsalmon;
}
ul.menu li.menu__item,
ul.menu li.menu__item ul.menu__sub li {
  height: 50px;
  border-radius: 5px;
}

ul.menu li.menu__item ul.menu__sub li:first-child {
  margin-top: 10px;
}

ul.menu li a.link-item {
  text-align: center;
  text-decoration: none;
  font-size: 24px;
  color: darkslateblue;
}

ul.menu li a.link-item:hover {
  font-size: 28px;
  color: lightseagreen;
}

ul.menu li.menu__item ul.menu__sub li {
  color: red;
}
