* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 1170px;
  margin: 0 auto;
}
.row {
  display: flex;
}
img {
  max-width: 100%;
  height: auto;
  width: auto;
}

/* Blog */
.blog {
  margin-top: 50px;
}
.blog__item {
  width: 375px;
  margin-right: 15px;
  margin-bottom: 30px;
}

.item__image {
  max-height: 200px;
  overflow: hidden;
}

.item__image img {
  transition: all 0.3s linear;
}
.item__image:hover img {
  transform: scale(1.1)
}

.item__title {
  font-size: 28px;
  font-style: italic;
  text-align: center;
  min-height: 40px;
  margin: 15px 0;
  padding: 5px;
}

.item__title a {
  text-decoration: none;
  color: black;
  transition: all 0.1s linear;
}

.item__title a:hover {
  color: #5974ca;
}

.item__text {
  max-height: 150px;
  overflow: hidden;
  line-height: 21px;
  text-align: justify;
  padding: 0 5px;
  text-indent: 15px;
}

.blog a.item__blog {
  text-decoration: none;
  font-size: 17px; 
  color: #fff;
  background-color: #5974ca;
  margin: 5px 5px;
  display: inline-block;
  padding: 10px 23px;
  transition: all 0.3s linear;
}

.blog a.item__blog:hover {
  background-color: #000;
}

.blog .blog__item:nth-child(2) .item__image {
  display: flex;
  justify-content: center;
  overflow: inherit;
}
.blog .blog__item:nth-child(2) .item__image img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
 object-fit: cover;
}

/* Animation */

.animation {
  margin: 20px auto 0;
  background: url(../img/sprite-walking.png) no-repeat;
  height: 150px;
  width: calc(1105px / 12);
  -webkit-animation-name: walk;
  -moz-animation-name: walk;
  -o-animation-name: walk;
          animation-name: walk;
  -webkit-animation-duration: 3s;
  -moz-animation-duration: 3s;
  -o-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: steps(12);
  -moz-animation-timing-function: steps(12);
  -o-animation-timing-function: steps(12);
          animation-timing-function: steps(12);
          transform: scale(1.5);
}

@keyframes walk {
  from {
    background-position: 0;
  }

  to {
    background-position: -1105px;
  }
}
@-webkit-keyframes walk {
  from {
    background-position: 0;
  }

  to {
    background-position: -1105px;
  }
}
@-moz-keyframes walk {
  from {
    background-position: 0;
  }

  to {
    background-position: -1105px;
  }
}
@-o-keyframes walk {
  from {
    background-position: 0;
  }

  to {
    background-position: -1105px;
  }
}