
@media (max-width: 991px) {
    /* Header */
.header__top .row {
    flex-direction: column;
}
.header__top  .row  .logo,
.header__top .row .search {
    display: flex;
    justify-content: center;
    
}

.header__top .logo {
    margin-bottom: 30px;
}
.header__top .search__input {
    width: 100%;
}

/* Hamburger menu */
.header__nav {
    position: relative;
    width: 100%;
    height: 50px;

    background-color: #e7e7e7;
}

.header__nav .nav {
    display: none;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.header__nav .nav .nav-item {
    max-width: 100%;
    text-align: center;
}

.header__hamburger {
    position: absolute;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    right: 0;
    top: 0;
    width: 50px;
    height: 50px;
    border: 3px solid var(--color-blue);
   
}

.hamburger__line {
    width: 35px;
    height: 3px;
    background-color: var(--color-blue);
   
    transition: all 0.2s ease-in-out;
}

.hamburger__line::before {
    content: "";
    position: absolute;
    width: 35px;
    height: 3px;
    border-radius: 5px;
   
    background-color: var(--color-blue);
   
    transform: translateY(10px);
    transition: all 0.2s ease-in-out;
}

.hamburger__line::after{
    content: "";
    position: absolute;
    width: 35px;
    height: 3px;
    border-radius: 5px;
    
    background-color: var(--color-blue);
   
    transform: translateY(-10px);
    transition: all 0.2s ease-in-out;
}

/* Animation burger */
.header__hamburger.open .hamburger__line {
    transform: translateX(-50px);
    background-color: transparent;
}
.header__hamburger.open .hamburger__line::before {
    transform: rotate(45deg) translate(35px, -35px);
}
.header__hamburger.open .hamburger__line::after {
    transform: rotate(-45deg) translate(35px, 35px);
}

.main .row .main__card:nth-child(1){
    margin-bottom: 30px;
}

/* Card for members team */
.main__card.card-team .team-member__img {
    width: 143px;
    height: 143px;
}

.main__card.card-team .team-member__title {
   
    margin-top: 15px;
}
.main__card.card-team .team-member__text {
    margin: 15px 0;
}

.main .main-bottom > .row {
    flex-direction: column;
    align-items: center;
}

/* Footer */
.footer .row {
    justify-content: center;
    text-align: center;
}

}

/* Tabs  */
@media (max-width: 889px) {
    .tabs nav .nav {
        justify-content: center;
    }
    .tabs nav .nav-link {
        font-size: 0;
        flex-grow: 0;
        padding: 5px 10px;
    }

}

@media (max-width: 768px) {
    .tab-content .tab__header  {
        font-size: 30px ;
    }
    .tab-content .tab__subheader {
        font-size: 18px;
    }

    .main__card .row {
        flex-direction: column;
        align-items: center;
    }

    .main__card .card__img {
        margin-bottom: 20px;
    }

    .main__card .card__content .card__border {
        display: none;
    }

      
}

@media (max-width: 576px){
    .tab-content .tab__header  {
        font-size: 24px ;
    } 

  
}
/* http://127.0.0.1:5500/ */
/* 6.00 */