@media (max-width: 950px) {
    /* Header */
.header__top .row {
    flex-direction: column;
}
.header__top  .row  .logo,
.header__top .row .search {
    display: flex;
    justify-content: center;
    
}

.header__top .logo {
    margin-bottom: 30px;
}

/* Hamburger menu */
.header__nav {
    position: relative;
    width: 100%;
    height: 60px;

    background-color: #e7e7e7;
}

.header__nav .nav {
    flex-direction: column;
    align-items: center;
}

.header__nav .nav .nav-item {
    max-width: 100%;
    text-align: center;
}
}

/* http://127.0.0.1:5500/ */
/* 6.00 */