@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    
    
}

html,
body {
    height: 100%;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

:root {
    --color-blue : #29c5e6;
    --color-gray : #e2e2e2;
    --color-dark-gray: #8f8f8f;
    --color-middle-gray: #b6b6b6;
    --font-oswald : 'Oswald', sans-serif;
}

body {
    border-top: 5px solid #7e7e7e;
    background: url(../img/background.png) no-repeat;
    background-size: cover;
}

body .container {
    max-width: 960px;
}

.header {
    margin-top: 25px;
}

.header .logo {
    animation: fadeInDown; 
    animation-duration: 2s; 
}

.search {
    display: flex;
    justify-content: flex-end;
}

.search__input {
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
    color: #c3c3c3;
    padding: 10px;
    
    font-family: 'Tahoma Regular font';
    font-size: 12px;

    transition: border 0.2s ease-out;
    -webkit-transition: border 0.2s ease-out;
    -moz-transition: border 0.2s ease-out;
    -o-transition: border 0.2s ease-out;
}

.search__input:active,
.search__input:focus-visible, 
.search__input:focus, 
.search__input:hover, 
.search__input:target {
    border: 1px solid var(--color-blue);
    outline: none;
}

.search__input::placeholder {
    color: #c3c3c3;
    font-size: 12px;
}

.search__btn {
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    background-color: var(--color-blue);
    border: 1px solid transparent;

    font-family: 'Tahoma Regular font';
    font-size: 14px;

    transition: background-color 0.2s ease-out;
    -webkit-transition: background-color 0.2s ease-out;
    -moz-transition: background-color 0.2s ease-out;
    -o-transition: background-color 0.2s ease-out;
}   

.search__btn:hover {
    color: var(--color-dark-gray);
    background-color: #f3f3f3;
    border: 1px solid var(--color-dark-gray);
}

/* Nav */
.header__nav {
    margin-top: 20px;
}

.header__nav .nav {
    flex-wrap: nowrap;
}
.nav .nav-item {
    max-width: 120px;
    width: 100%;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.nav .nav-item:first-child {
    border-left: 1px solid #e7e7e7;
}
.nav .nav-item:last-child {
    border-right: 1px solid #e7e7e7;
}

.nav .nav-item .nav-link {
    padding: 15px 30px;

    color: #b2b2b2;
    background-color: #f3f3f3;
  
    
    font-family: var(--font-oswald);
    font-weight: 400;
    font-size: 14px;
    
    text-transform: uppercase;
    transition: background-color 0.2s ease-in-out;
    -webkit-transition:  background-color 0.2s ease-in-out;
    -moz-transition:  background-color 0.2s ease-in-out;
    -o-transition:  background-color 0.2s ease-in-out;
}


.nav .nav-item .nav-link:hover {
    background-color: var(--color-blue);
    color: #fff;
}

/* Tabs */
.tabs {
    margin-top: 30px;
}

.tab-content {
    background-color: var(--color-gray);
    padding: 40px;
    height: 280px;
}

.tab-content .tab__header {
    color: #5a5a5a;
    text-transform: uppercase;
    font-family: var(--font-oswald);
    font-weight: lighter;
    font-size: 42px;
    margin-bottom: 10px;
}

.tab-content .tab__subheader {
    color: #b0b0b0;
    font-family: var(--font-oswald);
    font-weight: lighter;
    font-size: 20px;
}

.tabs nav .nav {
    background-color: #f3f3f3;
    justify-content: space-between;
}

.tabs nav .nav-link {
    color: #8f8f8f;
    text-transform: uppercase;
    border: none;
    font-family: var(--font-oswald);
    font-weight: lighter;
    font-size: 18px;
    flex-grow: 1;
    margin: 5px 0;
}

.tabs nav .nav-link .tab__number {
    margin-right: 12px;
    padding: 3px 10px;
    color: #fff;
    background-color: #8f8f8f ;
    font-size: 16px;
}

/* Active tabs */

.tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    color: var(--color-blue);
    background-color: #f3f3f3;
}
.tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active .tab__number {
    background-color: var(--color-blue);
}

/* Main block */
.main {
    margin-top: 30px;
}

.main__card .card__side .card__marker {
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: var(--color-blue);
    margin-right: 5px;
}

.main__card .card__side .card__title{
    display: flex;
    text-transform: uppercase;
    font-family: var(--font-oswald);
    font-weight: normal;
    font-size: 13px;
    color: #7e7e7e;
}

.main__card .card__side .card__img {
    width: 143px;
    height: 143px;
    background-color: #e2e2e2;
    border: 1px solid #fff;
    outline: 1px solid #cccccc;
    margin-top: 15px;
}

.main__card .card__content .card__border {
    background: url(../img/border__card.png) repeat-x;
    height: 15px;
    margin-bottom: 15px;
}

.main__card .card__content .card__text {
    color: #8f8f8f;
    line-height: 1.3;
    font-family: 'Tahoma Regular font';
    font-weight: normal;
    font-size: 12px;
    text-align: justify;
    margin-bottom: 20px;
}
.main__card .card__content .card__text.text-italic {
    font-style: italic;
}

.main__card .card__content .card__btn {
    color: #525252;
    text-decoration: underline;
    font-family: 'Tahoma Regular font';
    font-size: 12px;
    transition: all 0.2s ease-in-out;
}

.main__card .card__content .card__btn:hover {
    color: var(--color-blue);
}

.main__card .card__content .card__author {
    color: #525252;
    font-family: 'Tahoma Regular font';
    font-size: 12px;
}
